* {
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 18px;
}

.main_header {
    color: #fff;
    background-color: black;
    padding: 8px 0;
    width: 100%;
    text-align: center;

    div {
        padding: 32px 0;

    }

    a {
        color: #fff;
        background-color: #616161;
        font-weight: 900;
        font-size: 24px;
        padding: 8px 16px;

        &:hover {
            color: black;
            background-color: #fff;
        }
    }

    h4 {
        font-size: 20px;
    }

    h1 {
        font-size: 48px;
    }
}

.main {
    margin-top: 16px;

}

.section_1 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 100%;
    gap: 16px;
    grid-auto-rows: minmax(100px, auto);

    p {
        padding: 0.01em 16px;
    }
}

.section_info {
    border: 1px solid #cccccc;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
        0 2px 10px 0 rgb(0 0 0 / 12%);

    i {
        font-size: 120px;
    }

    h3 {
        font-size: 24px;
    }
}

.section_2 {

    padding: 0.01em 16px;

    hr {
        border: 0;
        border-top: 1px solid #eee;
        margin: 20px 0;
    }

    .color_class {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .red {
        color: white;
        background-color: red;
    }

    .blue {
        color: white;
        background-color: #2196F3;
    }

    .grey {
        color: white;
        background-color: #607d8b;
    }

    .teal {
        color: white;
        background-color: #009688;
    }

    .yellow {
        color: #000;
        background-color: #ffeb3b;
    }

    .orange {
        color: #000;
        background-color: #ff9800
    }

    h5 {
        font-size: 18px;
    }

    .built_in {
        padding: 0.01em 16px;
    }

    .half {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid #ccc;

        >div:nth-of-type(1) {
            color: white;
            background-color: #2196F3;
        }
    }

    .third {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid #ccc;

        >div:nth-of-type(1) {
            color: white;
            background-color: #4CAF50;
        }

    }

    .quarter {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: 1px solid #ccc;

        >div:nth-of-type(1) {
            color: white;
            background-color: #f44336;
        }
    }

}

.section_3 {

    padding: 0.01em 16px;

    .header {
        padding: 0.15px 16px;
        color: white;
        background-color: #607d8b;
    }

    >div:nth-of-type(3) {
        padding: 8px 16px;
    }

    >div:nth-of-type(4) {
        color: #fff !important;
        background-color: #607d8b;
        padding: 0.01em 16px;

        >h5 {
            font-size: 18px;
        }

        >p {
            opacity: 0.60;
        }
    }

}

.section_4 {
    padding: 0.01em 16px;

    .indigo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .theme_indigo {
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

        .theme {
            border-bottom: 1px solid #ddd;
        }

        >ul {
            border-top: 1px solid #ccc;
            list-style-type: none;
            padding: 0;
            margin: 0;
            border-top: 1px;

            >li {
                padding: 8px 16px;
                border-bottom: 1px solid #ddd;
            }
        }
    }

    .indigo_blue {
        padding: 0.01em 16px;
        margin: 0;
        color: #fff;
        background-color: #3f51b5
    }

    .indigo_black {
        padding: 0.01em 16px;
        margin: 0;
        color: #fff;
        background-color: black
    }

}

.section_5 {

    padding: 0.01em 16px;

    .car {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;
    }

    .car_card {
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }

    p {
        padding: 0.01em 16px;
    }

}

.section_6 {

    padding: 0.01em 16px;

    .tables {
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

    thead {
        >tr {
            color: #fff;
            background-color: black;
        }
    }

    th,
    td {
        padding-right: 8px;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
    }
}

.section_7 {
    padding: 0.01em 16px;

    .form_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        grid-auto-rows: minmax(100px, auto);
    }

    .half {
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
        padding: 0.01em 16px;
    }

    form {
        padding: 0.01em 16px;
    }

    .check_radio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .form_section {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .input {
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }

    .check,
    .radio {
        width: 24px;
        height: 24px;
        top: 6px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        >li {
            padding: 8px 16px;
            border-bottom: 1px solid #ddd;
        }

        li:last-child {
            border-bottom: none;
        }
    }

    .ul_border {
        border: 1px solid #ccc;

        li:first-child {
            color: #fff;
            background-color: #000000;
        }

        li:hover {
            background-color: #ccc;
        }
    }
}

.section_8 {

    padding: 0.01em 16px;

    div:nth-of-type(2) {
        width: 100%;
        color: black;
        background-color: #f1f1f1;

        >div {
            width: 5%;
            color: #fff;
            background-color: #000000;
            padding: 8px 16px;
        }

    }

    button {
        color: #fff;
        background-color: #000000;
        border: none;
        cursor: pointer;
        padding: 8px 16px;

        &:hover {
            box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
        }
    }
}